<div class="row">
  <div class="col-sm">
    <div class="login-box">
      <div class="login-box-body">
        <p class="login-box-msg">Reset Password</p>
        <form #form [formGroup]="changeForm" novalidate (ngSubmit)="onSubmit(changeForm)">

          <div class="form-group">
            <label class="col-form-label">Enter Current Password</label>
            <input class="form-control form-control-plaintext" type="password" placeholder="Enter Current Password" required formControlName="password">
            <p class="alert alert-info" *ngIf="password.touched && !password.valid">Required Field</p>
          </div>
          <div #pform [formGroup]="passwordFormGroup">
            <div class="form-group">
              <label class="col-form-label">Enter New Password</label>
              <input class="form-control form-control-plaintext" type="password" placeholder="Enter New Password" required formControlName="newPassword">
              <p class="alert alert-info" *ngIf="newPassword.touched && !newPassword.valid">Required Field</p>
            </div>
            <div class="form-group">
              <label class="col-form-label">Repeat New Password</label>
              <input class="form-control form-control-plaintext" type="password" placeholder="Repeat New Password" required formControlName="newRepeatPassword">
              <p class="alert alert-info" *ngIf="newRepeatPassword.touched && !newRepeatPassword.valid">Required Field</p>
            </div>
          </div>
          <input type="submit" class="btn btn-primary btn-block" value="Reset" [disabled]="!changeForm.valid">
        </form>
      </div>
    </div>
  </div>
</div>
