<div class="modal-header">
  <h4 class="modal-title">Close Item</h4>
  <button type="button" class="close" (click)="bsModalRef.hide()" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
  <p>Close Item?</p>
</div>
<div class="modal-footer">
  <button type="button" (click)="bsModalRef.hide()" class="btn btn-default" data-dismiss="modal">No</button>
  <button type="button" (click)="closeItem()" class="btn btn-primary" data-dismiss="modal">Close</button>
</div>
