<div class="row">
  <div class="form-group col-sm">
    <label class="control-label">Search</label>
    <input class="form-control form-control-plaintext" placeholder="Search" [(ngModel)]="SearchText" (keyup.enter)="SearchTask()">
  </div>
    <div class="form-group col-sm">
      <label class="control-label">Column</label>
      <select class="form-control" title="Column" [(ngModel)]="Search" (change)="SearchTask()">
        <option *ngFor="let e of SearchTodoData" value="{{ e.value }}">{{ e.display }}</option>
      </select>
    </div>
  <div class="form-group col-sm">
    <label class="control-label">OrderBy</label>
    <select class="form-control" title="Order By" [(ngModel)]="OrderBy" (change)="SearchTask()">
      <option *ngFor="let e of OrderByTodoData" value="{{ e.value }}">{{ e.display }}</option>
    </select>
  </div>
  <div class="form-group col-sm">
    <label class="control-label">Status</label>
    <select class="form-control" [(ngModel)]="Status" title="Select Status" (change)="SearchTask()">
      <option *ngFor="let e of StatusEnumData" value="{{ e.value }}">{{ e.display }}</option>
    </select>
  </div>
  <div class="form-group col-sm">
    <label class="control-label">Asc/Desc</label>
    <select class="form-control" [(ngModel)]="Decending" title="Select Order" (change)="SearchTask()">
      <option *ngFor="let e of DecendingEnumData" value="{{ e.value }}">{{ e.display }}</option>
    </select>
  </div>
</div>
