<div class='container-fluid'>
  <app-nav-menu></app-nav-menu>
</div>
<div class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <app-dashboard-nav-menu></app-dashboard-nav-menu>
  <div class="content-wrapper">
    <section class="content">
      <app-alert></app-alert>
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
</div>
