<div class="modal-header">
  <h4 class="modal-title">Update Item</h4>
  <button type="button" class="close" (click)="bsModalRef.hide()" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
<div class="row">
  <div class="col-sm">
    <form #form [formGroup]="createForm" novalidate>
      <div class="form-group">
        <label class="col-form-label">Enter Title</label>
        <input class="form-control form-control-plaintext" placeholder="Enter Title" required formControlName="title">
        <p class="alert alert-info" *ngIf="titleControl.touched && !titleControl.valid">Required Field</p>
      </div>
      <div class="form-group">
        <label class="col-form-label">Select Status</label>
        <select class="form-control" formControlName="status" title="Select Status" required>
          <option value="0"></option>
          <option value="1">Pending</option>
          <option value="3">In Progress</option>
          <option value="2">Completed</option>
        </select>
        <p class="alert alert-info" *ngIf="statusControl.touched && !statusControl.valid">Required Field</p>
      </div>
    </form>
  </div>
</div>
</div>
<div class="modal-footer">
  <button type="button" (click)="bsModalRef.hide()" class="btn btn-default" data-dismiss="modal">No</button>
  <button (click)="onSubmit(createForm)" class="btn btn-primary" value="Create" [disabled]="!createForm.valid">Update</button>
</div>
