<div class="login-box">
  <div class="login-logo">
    <a routerLink="" class="nav-link"><b>Todo</b>Tasks</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <form #form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit(loginForm)">
      <div class="form-group">
        <label class="col-form-label">Enter Email</label>
        <input class="form-control form-control-plaintext" placeholder="Enter Email" required formControlName="email">
        <p class="alert alert-info" *ngIf="email.touched && !email.valid">Required Field</p>
      </div>
      <div class="form-group">
        <label class="col-form-label">Enter Password</label>
        <input class="form-control form-control-plaintext" type="password" placeholder="Enter Password" required formControlName="password">
        <p class="alert alert-info" *ngIf="password.touched && !password.valid">Required Field</p>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="RememberMe" formControlName="rememberMe" title="Remember Me">
        <label class="form-check-label">Remember Me?</label>
      </div>
      <input type="submit" class="btn btn-primary btn-block" value="Login" [disabled]="!loginForm.valid">
    </form>
    <a routerLink="/register" class="text-center">Register a new membership</a>
  </div>
  <!-- /.login-box-body -->
</div>
